     body {
            margin: 50px;
            font-family: Arial;
        }

        #glavna {
            width: 700px;
            border: 4px dashed black;
            border-radius: 10px;
            background: rgba(0, 0, 255, 0.2);
            border-collapse: separate;
        }

        .glavna td {
            border: 1px solid black;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            background: rgba(128, 0, 128, 0.1);
            margin: 4px;
            padding: 10px;
            font-weight: bold;
            font-size: 14px;
            width: 100px;
        }

        li:hover {
            background: rgba(255, 255, 255, 0.4);
        }

        li a {
            text-decoration: none;
            color: black;
        }

        h1 {
            font-size: 16px;
            padding: 10px;
            margin: 0;
        }

        p {
            font-style: italic;
            text-align: justify;
            width: 95%;
            margin: 0 auto;
        }

        #table2 {
            width: 100%;
            height: 400px;
            border: 2px dashed black;
            background: white;
            border-collapse: separate;
        }

        #table2 td {
            border: 1px solid black;
        }

        .yellow {
            background: hsla(60, 100%, 50%, 0.5);
        }

        .green {
            background: hsla(120, 100%, 50%, 0.5);
        }

        .purple {
            background: hsla(300, 100%, 50%, 0.5);
        }

        .top-left-radius {
            border-top-left-radius: 200px;
        }

        .bottom-left-radius {
            border-bottom-left-radius: 200px;
        }

        .top-right-radius {
            border-top-right-radius: 200px;
        }

        .bottom-right-radius {
            border-bottom-right-radius: 200px;
        }

        form {
            width: 100%;
            background: white;
            border: 2px dashed black;
            border-radius: 10px;
            padding: 20px;
            box-sizing: border-box;
        }

        input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]), select, textarea {
            background: hsla(60, 100%, 50%, 0.1);
            width: 95%;
            margin: 10px 0;
            padding: 5px;
            border-radius: 5px;
        }

        input:focus:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]) {
            background: rgba(255, 255, 0, 0.2);
        }

        label {
            margin: 10px 0;
            font-weight: bold;
            display: block;
        }

        input[type="radio"], input[type="checkbox"] {
            width: 50px;
            height: 25px;
            margin-left: 80px;
        }

        fieldset {
            width: 50%;
            margin: 15px 0;
            background: hsla(60, 100%, 50%, 0.1);
            border-radius: 50px;
            font-size: 25px;
            border: 1px solid black;
        }

        input[type="submit"], input[type="reset"] {
            width: 100px;
            margin-left: 110px;
            border-radius: 5px;
            box-shadow: 2px 2px 2px gray;
        }

        progress {
            width: 95%;
            height: 10px;
            margin: 10px 0;
        }

        progress::-webkit-progress-value {
            background: purple;
        }